appmap.log
assistant*
experiments*
timeline-482211-e978bbf1dd0b.json

# Python
__pycache__/
*.pyc

# Pytest
.pytest_cache/

# Jupyter
*.ipynb

# Logs
*.log

# Runtime / generated data
state/*.json

# Images (if not source assets)
*.png

# markdown files
*.md